<div class="login">
  <form class="login-form" [formGroup]="passwordForm">
    <div class="center-inputs">
      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input
            matInput
            [type]="isPassword1Visible ? 'text' : 'password'"
            placeholder="Password"
            formControlName="newPassword"
          />
        </mat-form-field>

        <fa-icon
          class="register-password-eye"
          [icon]="isPassword1Visible ? faEyeSlash : faEye"
          (click)="togglePassword1Visibility()"
        ></fa-icon>
      </div>

      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Repeat password:</mat-label>
          <input
            matInput
            [type]="isPassword2Visible ? 'text' : 'password'"
            placeholder="Re-enter password"
            formControlName="rePassword"
          />
        </mat-form-field>

        <fa-icon
          class="register-password-eye"
          [icon]="isPassword2Visible ? faEyeSlash : faEye"
          (click)="togglePassword2Visibility()"
        ></fa-icon>
      </div>

      <div class="login-button">
        <button class="login-submit" (click)="recoverAccount()">
          Recover account
        </button>
      </div>
    </div>
  </form>
</div>
